@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte_titulo: 'Passion One', cursive;
    --fonte_textos: 'Sriracha', cursive;
}

* {
    margin: 0%;
    padding: 0%;
}


body{
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    background-color: black;
    color: white;
    text-align: center;
}


header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte_titulo);
    font-size: 10vw;
}


header > p{
    padding-bottom: 50px;
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}


a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte_textos);
    font-size: 4vw;
}


section.imagem > p{
    background-color: rgba(0, 0, 0, 0.685);
    max-width: fit-content;
    padding: 10px;
}


.normal{
    background-color: white;
    color: black;
}


.imagem{
    background-color: green;
    color: white;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

